# SPDX-License-Identifier: Apache-2.0
# SPDX-FileCopyrightText: 2025 Fundament Research Institute <https://fundament.institute>

.vs/
.vscode/
*.exe
/target/
*.user
/.direnv/
/examples/calculator-rs/calculator-cs/obj
/examples/calculator-rs/calculator-cs/bin
.rustfmt.toml